<!-- footer -->
<table width="600" cellpadding="30" cellspacing="0" border="0" align="center" class="footer">
  <tr>
    <td bgcolor="#1BB5EC" width="100%" align="center" class="inverted">
      <p>Thanks again for using Degoo. Got questions? Simply reply to this email. I'll be happy to help.</p>

      <div class="love">
        <img src="gfx/love.png" width="36" height="32" alt="With love from Degoo">
      </div>

      <p>Carl, CEO at Degoo</p>
    </td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF" width="100%" align="center">
      <div class="logo">
        <img src="gfx/logo.png" width="150" height="58" alt="Degoo Backup">
      </div>
      <p>Copyright 2015 Degoo Backup AB</p>
      <p>{{ unsubscribe }}</p>
    </td>
  </tr>
</table>

</body>
</html>