<!-- footer -->
<table width="600" cellpadding="30" cellspacing="0" border="0" align="center" class="footer">
  <tr>
    <td bgcolor="#1BB5EC" width="600" align="center" class="inverted">
      <p>Thanks again for staying safe with Degoo. Got questions? Get in <a href="@@supportlink">touch here</a>. I'll be happy to help.</p>

      <div class="love">
        <img src="gfx/love.png" width="36" height="32" alt="With love from Degoo">
      </div>

      <p>Carl, CEO at Degoo</p>
    </td>
  </tr>
  <tr>
    <td bgcolor="#eeeeee" width="600" align="center" class="footertiny">
      <div class="logo">
        <img src="gfx/logo.png" width="150" height="58" alt="Degoo Backup">
      </div>

      <p>Copyright 2015 Degoo Backup AB</p>

      <table align="left">
        <tr>
          <td>
            <p><b>What's Degoo?</b> Degoo is the safe and secure cloud backup service for Windows and OSX. <a href="@@learnmorelink">Learn more &raquo;</a></p>
            <p>If you don't want more emails like this, you can <a href="<< unsub >>">turn off</a> notifications.</p>
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>


</body>
</html>