
      <table width="540" cellpadding="0" cellspacing="0" border="0" align="center">
        <tr>
          <td bgcolor="#FFFFFF" align="center">
            <style>
              /* retina images */
              @media (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
                  .meter {
                      background-image: url(gfx/meter-{{ ${UsedSpacePercentage} }}@2x.png) !important;
                      background-size: 149px 149px;
                      width: 149px !important;
                      height: 149px !important;
                  }
                  .meter img {
                      display: none;
                  }
              }
            </style>
            <div class="meter">
              <img src="gfx/meter-{{ ${UsedSpacePercentage} }}.png" width="149" height="149" alt="{{ ${UsedSpacePercentage} }}%">
            </div>
          </td>
        </tr>
      </table>