
<table width="600" cellpadding="0" cellspacing="0" border="0" align="left" class="quotabar">
    <tr>
        <td width="100" bgcolor="#414141" align="center" class="percentage">
            {{ ${UsedSpacePercentage}|fallback:"0" }}%
        </td>
        <td width="500">
            <table width="500" cellpadding="0" cellspacing="20" border="0" bgcolor="#E5E5E5" class="meter">
                <tr>
                    <td bgcolor="#FFFFFF" class="metertotal">
                        <table width="{{ ${UsedSpacePercentage}|fallback:"0" }}%" cellpadding="0" cellspacing="0" border="0" align="left" bgcolor="#23E0A1" class="meterused">
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>