  <tr>
    <td bgcolor="#FFFFFF" width="600" align="left">
      @@include('img-check.html')

      @@include('subheadline.html', {"title": "Invite a friend - get more space"})

      <p>On top of the {{ ${QuotaSizeFormatted} }} of backup space you already have, you can earn an <b>additional 500 GB</b> space by helping your friends get free backup with Degoo. Not only do you get 2 GB extra space when your friend starts using Degoo - <b>your friend gets the extra space too</b>!</p>

      @@include('link-center.html', {"title": "Invite a friend now", "url": "@@invite"})
    </td>
  </tr>