@@include('header.html')

@@include('top-large.html')

<!-- main -->
<table width="600" cellpadding="30" cellspacing="0" border="0" align="center">
  <!-- big top -->
  <tr>
    <td bgcolor="#FFFFFF" width="600" align="left" class="mainmsg">
      @@include('headline.html', {"title": "Get 1000 GB backup space"})

      <p>By upgrading to Degoo Premium your files will stay backed up after the trial period and you'll receive the following benefits.</p>

      <ol class="list">
        <li>
          <b>1000 GB backup space.</b><br>
          <p>Plenty of space for everything you have.</p>
        </li>
        <li>
          <b>Unlimited backed up devices.</b><br>
          <p>Back up family member's computers and your other devices.</p>
        </li>
        <li>
          <b>Unlimited recoveries.</b><br>
          <p>Recover files as many times as you want without additional cost.</p>
        </li>
        <li>
          <b>Premium support.</b><br>
          <p>Get priority assistance.</p>
        </li>
      </ol>

      <p>Make you files safe and secure for ever, get Degoo Premium now!</p>

      @@include('button.html', {"title": "Save up to 60% now", "url": "@@upgrade", "utm_campaign": "premium"})

      @@include('status.html')
    </td>
  </tr>

</table>

@@include('footer.html')
