@@include('header.html')

@@include('top-large.html')

<!-- main -->
<table width="600" cellpadding="30" cellspacing="0" border="0" align="center">
  <!-- big top -->
  <tr>
    <td bgcolor="#FFFFFF" width="600" align="left">
      @@include('headline.html', {"title": "This is how you recover"})

      <p>Sooner or later all hard drives fail. But files may be lost due to user error, accidents (computers don't like coffee nor water) or theft, among other things. You are using Degoo to backup your files, and this is why they are safe!</p>

      @@include('subheadline.html', {"title": "Security"})

      <p>All backed up files are secured using 128-bit AES encryption and transformed into signed data-blocks. Each data-block is then split into tiny encrypted chunks which are separately stored. On top of having the data encrypted all server communication is encrypted as well for maximum security.</p>

      <p>With other words, your files are safe! If you are interested you can read more about our <a href="@@helpsecurity" target="_blank">security</a>.</p>

      @@include('subheadline.html', {"title": "Reliability"})

      <p>Reliability of accessing your data is key and we have solved this for you by duplicating, combining and splitting your files into tiny encrypted chunks multiplied and stored globally. Here are more details about how <a href="@@helpsecurity" target="_blank">reliability</a> works.</p>

      @@include('subheadline.html', {"title": "How to recover your files"})

      <p>If something happens and you need to recover part or your full backup, follow these simple steps.</p>

      <ol>
        <li>Open Degoo, click the Recovery tab and then the button "Start new recovery..."</li>
        <li>Select the file or folder your want to recover by navigating the folder tree.</li>
        <li>Click the "Start recovery" button. That's it!</li>
      </ol>

      <p>Note that if you have deleted files you want to recover, they are located in a special folder called "Deleted files" for 10 days before they are removed from your backup.</p>

      <p>Depending on the size of your backup and your internet bandwidth the time to recover files may take a while.</p>

      <p>For further details about restoring your backup, follow this <a href="@@helprecover" target="_blank">guide</a>.</p>
    </td>
  </tr>

</table>

@@include('quota-section.html')

@@include('footer.html')
