@@include('header.html')

@@include('top-large.html')

<!-- main -->
<table width="600" cellpadding="30" cellspacing="0" border="0" align="center">
  <!-- big top -->
  <tr>
    <td bgcolor="#FFFFFF" width="600" align="left" class="mainmsg">
      @@include('headline.html', {"title": "This is how you recover"})

      <p>Sooner or later all hard drives fail. But files may be lost due to user error, accidents (computers don't like coffee nor water) or theft, among other things. You are using Degoo to backup your files, and this is why they are safe!</p>

      @@include('subheadline.html', {"title": "Security"})

      <p>All backed up files are encrypted and transformed into signed data-blocks. Each data-block is then split into tiny encrypted chunks which are separately stored. Less than 1% of a file is stored at the same place. On top of having the data encrypted all server communication is encrypted as well for maximum security.</p>

      <p>With other words, your files are safe! If you are interested you can read more about our <a href="@@helpsecurity" target="_blank">security</a>.</p>

      @@include('subheadline.html', {"title": "Reliability"})

      <p>Reliability of accessing your data is key and we have solved this for you by duplicating, combining and splitting your files into tiny encrypted chunks across the globe in a very clever way.</p>

      <p>Even if part of your file is lost, our system will self-heal your backup to ensure maxium reliabilty. Here are more details about how <a href="@@helpsecurity" target="_blank">reliability</a> works.</p>

      @@include('subheadline.html', {"title": "How to restore your files"})

      <p>If something happens and you need to restore part or your full backup, follow these simple steps.</p>

      <ol>
        <li>Open Degoo, click the Recovery tab and then the button "Start new recovery..."</li>
        <li>Select the file or folder your want to restore by navigating the folder tree.</li>
        <li>Click the "Start recovery" button. That's it!</li>
      </ol>

      <p>Note that if you have deleted files you want to restore, they are located in a special folder called "Deleted files" for 14 days before they are removed from your backup.</p>

      <p>Depending on the size of your backup and your internet bandwidth the time to restore files may take a while.</p>

      <p>For further details about restoring your backup, follow this <a href="@@helprestore" target="_blank">guide</a>.</p>

      @@include('status.html')
    </td>
  </tr>

</table>

@@include('footer.html')
