@@include('header.html')

@@include('top-large.html')

<!-- main -->
<table width="600" cellpadding="30" cellspacing="0" border="0" align="center">
  <!-- big top -->
  <tr>
    <td bgcolor="#FFFFFF" width="600" align="left" class="mainmsg">
      @@include('img-top.html', {"img": "topimg1.png", "alt": "It's Wonderful", "class": "topimg1", "width": "301", "height": "302"})

      @@include('headline.html', {"title": "Congratulations and welcome!"})

      <p>As the newest user of Degoo you will enjoy having your files safely backed up.</p>

      @@include('quota-text.html')
    </td>
  </tr>

  @@include('section-invite.html')
</table>

@@include('footer.html')
