@@include('header.html')

@@include('top-large.html')

<!-- main -->
<table width="600" cellpadding="30" cellspacing="0" border="0" align="center">
  <!-- big top -->
  <tr>
    <td bgcolor="#FFFFFF" width="600" align="center" class="mainmsg">
      <h1>Install Degoo to get started!</h1>

      <p>Congratulations, you are just about to have your files backed up safely using Degoo. Simply download and install the application and you're done.</p>

      @@include('downloadbutton.html', {"utm_campaign": "welcome-not_installed"})

      <p><a href="@@helpinstall" target="_blank">Get help installing</a></p>
    </td>
  </tr>

</table>

@@include('footer.html')
