@@include('header.html')

@@include('top-large.html')

<!-- main -->
<table width="600" cellpadding="30" cellspacing="0" border="0" align="center">
  <!-- big top -->

  <tr>
    <td bgcolor="#FFFFFF" width="600" align="left" class="mainmsg">
      @@include('headline.html', {"title": "Your data is almost safe"})

      <p>Congratulations, you just need to install Degoo! Then add what folders to backup and we'll start securing your data immediately. Simply download and install the application.</p>

      @@include('button.html', {"title": "Download Degoo", "url": "@@download", "utm_campaign": "welcome-not_installed"})

      <p>It is really simple, so just go ahead! But in case it is needed we've put together <a href="@@helpinstall" target="_blank">detailed instructions</a> of how to go about it.</p>
    </td>
  </tr>

</table>

@@include('footer.html')
